.container {
  height: 500px;
  position: relative;
  background: "#001219";
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.start {
  width: 300px;
  font-weight: 900;
  font-size: 30px;
  height: 100px;
}
